.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding: 1rem;
  color: var(--white);
  position: sticky;
  top: 10px;
  background: rgba(255, 255, 255, .90);
  border-radius: 1rem;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav .logo {
  width: 45px;
}